				<!-- Spotlight 02 Right -->
                <section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
                    <div class="content">
                        <h2>Spotlight</h2>
                        <p>This is also a <strong>Spotlight</strong> element, and it's here because this demo would look a bit empty with just one spotlight. Like all spotlights, you can customize its <span class="demo-controls">appearance with a number of modifiers</span>, as well as assign it an optional <code>onload</code> or <code>onscroll</code> transition modifier (<a href="#reference-spotlight">details</a>).</p>
                        <ul class="actions stacked">
                            <li><a href="#" class="button">Learn More</a></li>
                        </ul>
                    </div>
                    <div class="image">
                        <img src="images/spotlight02.jpg" alt="" />
                    </div>
                </section>