				<!-- Spotlight 03 Left -->
                <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
                    <div class="content">
                        <h2>Spotlight</h2>
                        <p>And yes, this is another <strong>Spotlight</strong> element, and it's also here because I need to fill a bit of space. Naturally, like any other spotlight, you can customize its <span class="demo-controls">appearance with a number of modifiers</span>, as well as assign it an optional <code>onload</code> or <code>onscroll</code> transition modifier (<a href="#reference-spotlight">details</a>).</p>
                        <ul class="actions stacked">
                            <li><a href="#" class="button">Learn More</a></li>
                        </ul>
                    </div>
                    <div class="image">
                        <img src="images/spotlight03.jpg" alt="" />
                    </div>
                </section>